/*GEN*/
.ir-alert {
	display: none;
	margin: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #fbeed5;
  	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

/*CONTENT*/
.ir-alert-content {
	margin: 6px 8px 6px 8px;
	width: 100%;
    *zoom: 1;
}

.ir-alert-content:after,
.ir-alert-content:before {
	display: table;
	line-height: 0;
	content: "";
}

.ir-alert-content:after {
	clear: both;
}

/*ICON*/
.ir-alert-icon {
	display: block;
  	float: left;
  	width: 6%;
  	min-height: 16px;
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.ir-alert-icon-info {
	background-image:url('img/ir-alert-icon-info.png');
}

.ir-alert-icon-error {
	background-image:url('img/ir-alert-icon-error.png');
}

.ir-alert-icon-warning {
	background-image:url('img/ir-alert-icon-warning.png');
}

.ir-alert-icon-success {
	background-image:url('img/ir-alert-icon-success.png');
}

/*MESSAGE*/
.ir-alert-messageContainer {
	display: inline;
  	float: left;
  	width: 85%;
  	min-height: 16px;
  	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 11px;
    padding-left: 6px;
}

/*POSITIONS*/
.ir-alert-position-trayright {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9999;
	width: 350px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}
.ir-alert-position-trayleft {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9999;
	width: 350px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}
.ir-alert-position-topleft {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 9999;
	width: 350px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}
.ir-alert-position-topright {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 9999;
	width: 350px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}

/*TYPES*/
.ir-alert-type-info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.ir-alert-type-warning {
	color: #c09853;
	background-color: #fcf8e3;
  	border-color: #fbeed5;
}
.ir-alert-type-error {
	color: #b94a48;
  	background-color: #f2dede;
  	border-color: #eed3d7;
}

.ir-alert-type-succes {
	color: #468847;
  	background-color: #dff0d8;
  	border-color: #d6e9c6;
}

/*CLOSE BUTTON*/
.ir-alert-closebutton {
	position: relative;
	right: 4px;
	line-height: 20px;
	float: right;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.ir-alert-closebutton:hover {
	color: #000000;
  	text-decoration: none;
  	cursor: pointer;
  	opacity: 0.4;
  	filter: alpha(opacity=40);
}


/* EFFECTS */
.ir-progress {
    width: 0;
    height: 4px;
    background: rgba(255,255,255,0.8);
    bottom: 5px;
    left: 2%;
    border-radius: 3px;
    box-shadow: 
        inset 0 1px 1px rgba(0,0,0,0.2), 
        0 -1px 0 rgba(255,255,255,0.8);
    margin: 5px;
}

@-webkit-keyframes runProgress {
	0%{ width: 0%; background: rgba(255,255,255,0.3); }
	100%{ width: 96%; background: rgba(255,255,255,1); }
}

@-moz-keyframes runProgress {
	0%{ width: 0%; background: rgba(255,255,255,0.3); }
	100%{ width: 96%; background: rgba(255,255,255,1); }
}

@-o-keyframes runProgress {
	0%{ width: 0%; background: rgba(255,255,255,0.3); }
	100%{ width: 96%; background: rgba(255,255,255,1); }
}

@-ms-keyframes runProgress {
	0%{ width: 0%; background: rgba(255,255,255,0.3); }
	100%{ width: 96%; background: rgba(255,255,255,1); }
}

@keyframes runProgress {
	0%{ width: 0%; background: rgba(255,255,255,0.3); }
	100%{ width: 96%; background: rgba(255,255,255,1); }
}